.questions{
    &__wrapper{
        padding: 50px;
        background-color: #000;
        border-bottom: 8px solid #222;
    }
    &__title{
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
    }
    &__list{
        max-width: 900px;
        width: 75%;
        padding: 0 50px;
        margin: 0 auto;
        list-style-type: none;
        margin-bottom: 40px;
    }
}