.spinner{
  display: flex;
  justify-content: center;  
}

@keyframes ldio-efq0n5zej04 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-efq0n5zej04 div {
  position: absolute;
  animation: ldio-efq0n5zej04 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 2.5px 0 0 #e50914;
  transform-origin: 40px 41.25px;
}
.loadingio-spinner-eclipse-ue052ylwxi {
  width: 84px;
  height: 84px;
  display: inline-block;
  overflow: hidden;
}
.ldio-efq0n5zej04 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.84);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-efq0n5zej04 div { box-sizing: content-box; }