.movie-category{
    &__title{
        color: #fff;
        margin: 0;
        margin-bottom: 10px;
    }
    &__posters{
        display: flex;
        padding-left: 20px;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 15px;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__img{
        max-height: 250px;
        object-fit: contain;
        margin-right: 10px;
        transition: transform .45s;
        cursor: pointer;
        &:hover{
            transform: scale(1.08);
        }
    }
    &__popup{
        position: relative;
        height: 450px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        &-overview{
            max-width: 50%;
            padding-right: 80px;
        }
        &-descr{
            line-height: 24px;
            margin-bottom: 30px;
        }
        &-wrapper{
            position: relative;
            height: 100%;
            width: 50%;
            margin-right: 20px;
            &:before{
                position: absolute;
                width: 25%;
                height: 100%;
                content: '';
                background: linear-gradient(-90deg, transparent, black);
            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin: 0;
            }
        }
        &-btn{
            width: 120px;
            font-size: 19px;
            color: #fff;
            background-color: #e50914;
            padding: 7px 17px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
        i{
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 30px;
            cursor: pointer;
            transition: .3s color;
            &:hover{
                color: #e50914;
            }
        }
    }
}